.ads {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    position: relative;
    top: 2.6em;
    background-color: var(--primaryColor);
}

.ads * {
    max-height: 15em;
    flex: 1;
}