#articlesTools {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 3em;
}

.articleTool {
    --borderStyle: 2px solid var(--primaryBorderColor);
    width: 90%;
    min-height: 5em;
    height: auto;
    max-height: 25em;
    position: relative;
    top: 2.75em;
    display: flex;
    flex-flow: column;
    background: var(--primaryColor);
    overflow-y: scroll;
}

.articleToolTitle {
    font: normal bold 2rem 'b elham', georgia;
    padding-right: 0.5em;
}

.articleToolContent {
    width: 100%;
    min-height: 5em;
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 2px solid var(--primaryBorderColor);
    border-style: solid none none;
}

.articleToolContent .articleToolContentImg {
    grid-column: 1/2;
    grid-row: 1/3;
}

.articleToolsContentTitle,
.articleToolsContentDetails {
    padding-right: .2em;
}

.articleToolsContentTitle {
    font: normal bold 1.2rem 'dirooz';
    grid-column: 2/3;
    grid-row: 1/2;
}

.articleToolsContentDetails {
    font: normal bold 1.1rem 'dirooz';
    color: var(--secondaryTextColor);
}