#bigNews {
    width: 100%;
    height: 75vh;
    position: relative;
    top: 2.5em;
    margin: 0;
    overflow: hidden;
}

.bigNewsItem {
    width: 100%;
    height: 33.3%;
    position: relative;
}

.bigNewsImage {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bigNewsImage img {
    width: inherit;
    min-height: 100%;
    height: auto;
}

.bigNewsData {
    width: 100%;
    min-height: 20%;
    max-height: 30%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: column;
    z-index: 5;
    overflow: hidden;
    background: var(--txtBgColor);
}

.bigNewsTitle {
    font: normal bolder 1rem 'dirooz', georgia;
    color: var(--bigNewsTitleColor);
}