#bigNews {
    width: 100%;
    height: 75vh;
    position: relative;
    top: 2.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
}

.bigNewsLink {
    grid-column: 2/3;
}

.bigNewsLink:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
}

.bigNewsItem {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.bigNewsImage {
    width: 100%;
    height: 100%;
}

.bigNewsTitle {
    width: 100%;
    min-height: 1.2em;
    max-height: 5em;
    background-color: var(--txtBgColor);
    font: normal bold 1.2rem 'dirooz';
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
}