/* Comments Container: */

#commentsContainer {
    width: 100%;
    max-height: 130vh;
    display: flex;
    flex-flow: column;
    position: relative;
    top: 2.5em;
    margin: auto;
    overflow-y: scroll;
    background: var(--primaryColor);
    border-top: 1px solid var(--primaryBorderColor);
}

#commentsContainer::-webkit-scrollbar {
    width: 1em;
}

#commentsContainer .null {
    position: relative;
    left: 45%;
    top: 0.5em;
    display: block;
}

#commentsTitleContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: normal bolder 1.5rem 'b elham';
}

#commentsTitle {
    margin-right: 0.3em;
}

#commentsNumber {
    margin-left: 0.3em;
    font-size: 2.75rem;
    color: var(--newsDetailsColor);
}

#comments {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}


/* Comment Body: */

.comment {
    box-shadow: 6px 6px 5px var(--primaryShadowColor);
    list-style: none;
}

.comment-body {
    --primaryShadowColor: rgb(245, 245, 245);
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 1em;
    border-radius: 13px;
    box-shadow: 6px 6px 5px var(--primaryShadowColor), -3px -3px 5px var(--primaryShadowColor);
    list-style: none;
}


/* Comment header */

.comment-author {
    width: 100%;
    height: 3em;
    margin-bottom: 0.75em;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    bottom: 1px solid var(--primaryBorderColor);
    padding-bottom: 3.5em;
    border-bottom: 1px solid var(--primaryBorderColor);
    overflow: hidden;
}

.comment-author img {
    width: 4.5em;
    height: 3.5em;
}

.fn {
    font: normal bold 1.75rem 'b elham';
}

.fn,
.says {
    position: relative;
    bottom: 1em;
}

.says {
    font: italic normal 1.1em 'dirooz';
    bottom: 1.65em;
    right: 0.3em;
}


/* Comment meta data: */

.commentmetadata {
    position: relative;
    bottom: 0.6em;
}


/* Comment Date: */

.commentmetadata a:nth-child(1) {
    font: normal 550 1.5rem 'b elham';
    color: var(--articleDetailsColor);
}


/* Comment edit link: */

.comment-edit-link {
    font: bold 1rem 'dirooz';
    color: var(--newsDetailsColor);
}


/* Comment Content: */

.comment-body p {
    position: relative;
    bottom: 0.6em;
    font: normal 1.1rem 'dirooz';
    color: var(--secondaryTextColor);
    text-align: justify;
}


/* Reply Link: */

.reply {
    width: 100%;
    height: auto;
    z-index: 2;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.reply a {
    margin-right: 0.5em;
    border: none;
    font: normal bold 1rem 'dirooz';
    text-decoration: underline;
    color: var(--secondaryTextColor);
    cursor: pointer;
}


/* Children comments: */

.children .says {
    display: none;
}

.children .fn {
    font-size: 1.4em;
}


/* Comment Form: */

.comment-respond {
    width: 90%;
    height: auto;
    margin: 1em auto;
    display: flex;
    flex-flow: column;
    -ms-flex-flow: column;
    font-family: 'dirooz', georgia;
    padding: 0.4em;
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--primaryShadowColor), -1px -1px 5px var(--primaryShadowColor);
}

.comment-respond p {
    display: flex;
    flex-flow: column;
    -ms-flex-flow: column;
}

.comment-respond label {
    font: normal 500 1.3rem 'b elham';
    margin-right: 1em;
}

.comment-respond input[type="text"] {
    width: 85%;
    height: 2em;
    margin: auto;
    transition-duration: 0.4s;
}

.comment-respond input[type="text"]:hover {
    border: 2px solid var(--secondaryColor);
}

.comment-respond input[type="text"]:focus {
    border-color: var(--secondaryColor);
}

.comment-notes,
.logged-in-as,
.comment-form-cookies-consent {
    display: unset !important;
}

#comment {
    width: 85%;
    height: 6em;
    margin: auto;
    font: normal 1.2rem 'dirooz';
    resize: none;
}

.comment-form-cookies-consent {
    position: relative;
    top: 0.6em;
}

.comment-form-cookies-consent label {
    font: normal 1rem 'dirooz';
}

.form-submit {
    margin: 0.75em auto 0.1em;
}

#submit {
    font: normal italic bold 1.1em 'dirooz';
    width: auto;
    margin: auto;
    background: var(--secondaryColor);
    color: rgb(250, 250, 250);
    border: none;
}