#pageNumberContainer {
    width: 70%;
    height: 2.5em;
    position: relative;
    right: 50%;
    transform: translateX(55%);
}

#pageNumberContainer ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#pageNumberContainer li,
#pageNumberContainer li a {
    width: 2em;
    height: 100%;
    font: normal bold 1.75rem 'b elham';
    color: var(--primaryTextColor);
    text-align: center;
}

#selectedPage {
    background: var(--primaryBorderColor);
    color: rgb(255, 255, 255);
}