    @media all and (max-width:650px) {
        /* Responsive Menu: */
        #menuContainer {
            height: calc(100% - 2.5em);
            border: none;
            border-top: var(--borderStyle);
        }
        .menu {
            flex-flow: column wrap;
        }
        .menu-item {
            max-height: 3em;
            border: none;
            border-bottom: var(--borderStyle);
            font-size: 1.4rem;
        }
        /* Responsive Big News: */
        #bigNews {
            display: flex;
            flex-flow: column;
            justify-content: center;
        }
        .bigNewsLink {
            height: 33.3%;
        }
        .bigNewsTitle {
            font-size: 1rem;
        }
    }
    
    @media all and (min-width:650px) {
        /* Responsive Header: */
        #pageHeader {
            justify-content: space-between;
        }
        #pageTools {
            width: auto;
            height: 100%;
            flex: 0.6;
        }
        #pageTools * {
            flex: 1;
        }
        /* Responsive Advertising: */
        #Advertising {
            top: 1.2em;
        }
        /* Responsive Articles: */
        .news {
            width: 85%;
            height: 18em;
        }
        .newsTitle {
            max-height: 15%;
            margin-bottom: 0;
        }
        .newsDetails {
            max-height: 10%;
        }
        .newsImage {
            height: 75%;
        }
        /* Responsive Article Tool: */
        #articleTools {
            display: grid;
            grid-column: repeat(2, 1fr);
        }
        .articleTool {
            width: 80%;
        }
    }
    
    @media all and (min-width:800px) {
        /* Responsive Articles: */
        #articles {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        #articlesTitle,
        #pageNumberContainer {
            grid-column: 1/3;
        }
        .news {
            height: 21em;
        }
        .newsTitle {
            max-height: 16%;
        }
        .newsDetails {
            max-height: 9%;
        }
    }
    
    @media all and (min-width:1000px) {
        /* Responsive Header: */
        #pageTools {
            width: auto;
            height: 100%;
        }
        #pageTools * {
            flex: 0.2;
        }
        /* Responsive Articles: */
        #articles {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        #articlesTitle,
        #pageNumberContainer {
            grid-column: 1/3;
        }
        .news {
            height: 21em;
        }
        .newsTitle {
            max-height: 16%;
        }
        .newsDetails {
            max-height: 9%;
        }
        /* Responsive Article Tool: */
        #articleTools {
            flex-flow: row;
            -ms-flex-flow: row;
        }
    }