#pageHeader {
    border-bottom: var(--borderStyle);
}

article {
    width: 100%;
    height: auto;
    background: var(--primaryColor);
}

#articleInformation {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    overflow: hidden;
}

#postImageContainer {
    width: 100%;
    height: auto;
    max-height: 60%;
    position: relative;
}

#postImageContainer img {
    width: 100%;
    max-height: 100%;
}

#postCategories {
    width: 100%;
    max-height: 40%;
    position: absolute;
    bottom: 1em;
    padding: 0.25em;
}

#postCategories .category {
    width: auto;
    height: 2em;
    float: right;
    margin: 0.25em;
    background-color: var(--secondaryColor);
    border-radius: 25px;
    font: normal bolder 1.4rem 'dirooz';
    padding: 0.1em 0.4em;
    text-align: center;
    color: rgb(255, 255, 255);
    overflow: hidden;
}

#articleTitle {
    font: normal bolder 1.6rem 'dirooz';
    color: var(--primaryTextColor);
}

#articleDetails {
    font: normal bolder 1.25rem 'dirooz';
    color: var(--articleDetailsColor);
}

#Advertising {
    top: 0;
}

#articleContent {
    height: auto;
    background: var(--primaryColor);
    position: relative;
    display: flex;
    flex-flow: column;
}

#articleContent p {
    padding: 0.5em;
    font: normal 1.2rem 'dirooz';
    color: var(--secondaryTextColor);
    line-height: 2;
    text-align: justify;
}

#tagsContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background: var(--primaryColor);
    padding-bottom: 0.5em;
}

#tagsLabel {
    padding-right: 0.3em;
    font: normal bolder 1.4rem 'dirooz';
}

#tags {
    display: flex;
    flex-flow: row;
    align-items: center;
    list-style: none;
}

.tag {
    min-width: 3em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    border-radius: 5px;
    box-shadow: 0.003em 0.003em 5px var(--primaryShadowColor);
    font: italic bold 1.3rem 'dirooz';
    padding-right: 0.5em;
}

#commentsContainer {
    width: 100%;
    max-height: 60vh;
    display: flex;
    flex-flow: column;
    position: relative;
    top: 2.5em;
    margin: auto;
    overflow-y: scroll;
    background: var(--primaryColor);
    border-top: 1px solid var(--primaryBorderColor);
}

#commentsContainer::-webkit-scrollbar {
    width: 1em;
}

#commentsTitleContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: normal bolder 1.5rem 'b elham';
}

#commentsTitle {
    margin-right: 0.3em;
}

#commentsNumber {
    margin-left: 0.3em;
    font-size: 2.75rem;
    color: var(--newsDetailsColor);
}

#comments {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.comment {
    --primaryShadowColor: rgb(245, 245, 245);
    width: 90%;
    height: auto;
    position: relative;
    margin-bottom: 1em;
    border-radius: 18px;
    box-shadow: 6px 6px 5px var(--primaryShadowColor), -3px -3px 5px var(--primaryShadowColor);
}

.commentHeader {
    width: 100%;
    height: 3em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 0.75em;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    bottom: 1px solid var(--primaryBorderColor);
    padding-bottom: 3.5em;
    border-bottom: 1px solid var(--primaryBorderColor);
}

.profileAvatar {
    width: 100%;
    height: 67%;
    grid-row: 1/3;
}

.profileName,
.commentDate {
    font: normal bold 0.8rem 'b elham';
}

.profileName {
    padding-bottom: 1em;
}

.commentDate {
    position: relative;
    bottom: 1.25em;
    color: var(--newsDetailsColor);
}

.commentContent {
    width: 100%;
    height: auto;
    max-height: 9em;
    overflow-y: scroll;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.commentContent p {
    font: normal 1.1rem 'dirooz';
    color: var(--secondaryTextColor);
    text-align: justify;
}

.articleTool {
    box-shadow: 2px 2px 20px var(--primaryShadowColor);
}

#pageFooter {
    top: 4em;
}

@media all and (min-width: 750px) {
    article {
        width: 70%;
        margin: auto;
        border: 1px solid var(--primaryBorderColor);
        border-style: none solid;
    }
    #articleCategories {
        top: 55%;
    }
    #commentsContainer {
        width: 70%;
    }
    /* Scroll Bar: */
    .commentContent::-webkit-scrollbar {
        width: 1em;
        background: var(--scrollBarRailColor);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .commentContent {
        scrollbar-width: 1em;
        scrollbar-color: var(--scrollBarRailColor);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .commentContent::-webkit-scrollbar-thumb {
        background: var(--primaryColor);
        box-shadow: 2px 2px 20px var(--primaryShadowColor);
        border-radius: 10px;
    }
}

@media all and (min-width: 900px) {
    article {
        width: 75%;
    }
    #articleImageContainer {
        height: 50%;
    }
    .articleCategory {
        min-width: 5%;
        max-width: 15%;
    }
    #commentsContainer {
        width: 75%;
    }
}