@import url('./comments.css');
#pageHeader {
    border-bottom: var(--borderStyle);
}

article {
    width: 100%;
    height: auto;
    background: var(--primaryColor);
}

#articleInformation {
    width: 100%;
    max-height: 95vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    overflow: hidden;
}

#postImageContainer {
    width: 100%;
    height: auto;
    max-height: 60%;
    position: relative;
    overflow: hidden;
}

#postImageContainer img {
    width: 100%;
    max-height: 100%;
}

#postCategories {
    width: 100%;
    max-height: 40%;
    position: absolute;
    bottom: 1em;
    padding: 0.25em;
}

#postCategories .category {
    width: auto;
    height: 2em;
    float: right;
    margin: 0.25em;
    background-color: var(--secondaryColor);
    border-radius: 25px;
    font: normal bolder 1.4rem 'dirooz';
    padding: 0.1em 0.4em;
    text-align: center;
    color: rgb(255, 255, 255);
    overflow: hidden;
}

#articleTitle {
    font: normal bolder 1.6rem 'dirooz';
    color: var(--primaryTextColor);
}

#articleDetails {
    font: normal bolder 1.25rem 'dirooz';
    color: var(--articleDetailsColor);
}

#articleContent {
    height: auto;
    background: var(--primaryColor);
    position: relative;
    top: 1.2em;
    display: flex;
    flex-flow: column;
}

#articleContent p {
    padding: 0.5em;
    font: normal 1.2rem 'dirooz';
    color: var(--secondaryTextColor);
    line-height: 2;
    text-align: justify;
}


/* Page Password: */

p input[type="submit"] {
    background-color: var(--secondaryColor);
    font: normal bold 1rem 'dirooz';
    color: rgb(255, 255, 255);
    border: none;
}

input#pwbox-6 {
    font: normal bold 0.85rem 'dirooz';
    border: 2px solid var(--secondaryColor);
    border-radius: 10px;
}


/* Tags: */

#tagsContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background: var(--primaryColor);
    padding-bottom: 0.5em;
}

#tagsLabel {
    padding-right: 0.3em;
    font: normal bolder 1.4rem 'dirooz';
}

#tags {
    display: flex;
    flex-flow: row;
    align-items: center;
    list-style: none;
}

.tag {
    min-width: 3em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    border-radius: 5px;
    box-shadow: 0.003em 0.003em 5px var(--primaryShadowColor);
    font: italic bold 1.3rem 'dirooz';
    padding-right: 0.5em;
}

.articleTool {
    box-shadow: 2px 2px 20px var(--primaryShadowColor);
}

#pageFooter {
    top: 4em;
}

@media all and (min-width: 750px) {
    article {
        width: 70%;
        margin: auto;
        border: 1px solid var(--primaryBorderColor);
        border-style: none solid;
    }
    #articleCategories {
        top: 55%;
    }
    #commentsContainer {
        width: 70%;
    }
    /* Scroll Bar: */
    .commentContent::-webkit-scrollbar,
    #comment::-webkit-scrollbar {
        width: 1em;
        background: var(--scrollBarRailColor);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .commentContent {
        scrollbar-width: 1em;
        scrollbar-color: var(--scrollBarRailColor);
        border-radius: 10px;
    }
    .commentContent::-webkit-scrollbar-thumb,
    #comment::-webkit-scrollbar-thumb {
        background: var(--primaryColor);
        box-shadow: 2px 2px 20px var(--primaryShadowColor);
        border-radius: 10px;
    }
}

@media all and (min-width: 900px) {
    article {
        width: 75%;
    }
    #articleImageContainer {
        height: 50%;
    }
    .articleCategory {
        min-width: 5%;
        max-width: 15%;
    }
    #commentsContainer {
        width: 75%;
    }
}